@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital@1&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: aliceblue;
}
header{
    max-width: 100%;
    background: darkslategrey;
}
header h1{
    text-align: center;
    padding: 0.5rem;
    font-size: 2rem;
    font-family: 'Amaranth', sans-serif;
    color: aliceblue;
}

.score-board{
    width: 70%;
    position: relative;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    border-radius: 5px;
    margin: 1.5rem auto 0;
    border: 3px solid darkslategrey;
}
.players{
    position: absolute;
    background-color: rgb(30, 255, 68);
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    border-radius: 3px;
    color: darkslategrey;
    font-weight: 700;
}
#user{
    top:35px;
    left: -25px;
}
#comp{
    top: 35px;
    right: -28px;
}
.score-board span{
    font-size: 2rem;
    font-weight: 800;
}

.result h2{
    margin-top: 1.5rem;
    text-align: center;
}
.choices{
    margin-top: 1.5rem;
    text-align: center;
}

.images{
    width:90px;
    height: 90px;
    transition: all 0.3s ease;
}
.images:active{
    transform: scale(1.02);
}
h3{
    text-align: center;
}
#final-result{
    text-align: center;
}

@media (min-width:780px){
    header h1{
        font-size: 3.5rem;
    }
    .images{
        width: 200px;
        height: 200px;
    }
    .choices{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .choice{
        padding: 2rem;
    }
    .result h2,h1{
        font-size: 3rem;
    }
    #userscore,#compscore,.score-board{
        font-size: 3rem;
    }
    .players{
        font-size: 1.7rem;
    }
    .score-board{
        width: 50%;
    }
    #user{
        top:30%;
        left: -3.5%;
    }
    #comp{
        top: 30%;
        right: -4%;
    }
}
